<div class="container">
  <div class="row mb-5">
    <div class="col-md-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">Home</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" routerLink="servers" routerLinkActive="active">Servers</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link " [routerLink]="['users']" routerLinkActive="active">Users
          </a> </li>
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row mb-5">
    <div class="col-md-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <app-servers></app-servers>
    </div>
  </div> -->

</div>
